.category-tag{
        background: rgba(49, 126, 172, 0.9);	
        padding:4px;
        margin:5px;
        border-radius: 5px;
        display: inline-block;
        color: white
}

.preview-body{
	margin: 10px 0;
}

.bottom-link{
   position:absolute;
   bottom:0;
   left:0;
}

.post-thumb{
	width:100%;
}

.comments-form{
    max-width: 50%;
}

.comments-area{
    max-width: 50%;
}

.signup-form{
    max-width: 50%;
}

.flash-messages{

}