.category-tag{
        background: rgba(49, 126, 172, 0.9);	
        padding:4px;
        margin:5px;
        border-radius: 5px;
        display: inline-block;
        color: white
}

.preview-body{
	margin: 10px 0;
}

.bottom-link{
   position:absolute;
   bottom:0;
   left:0;
}

.post-thumb{
	width:100%;
}

.comments-form{
    max-width: 50%;
}

.comments-area{
    max-width: 50%;
}

.signup-form{
    max-width: 50%;
}

.flash-messages{

}

.pagination-links{
    margin: 30px 0;
}

.pagination-links strong{
    padding: 8px 12px;
    margin: 2px;
    background: #f4f4f4;
    border: 1px #cccccc solid;
    border-radius: 7px;
}

a.pagination-link{
    padding: 8px 13px;
    margin: 2px;
    background: #f4f4f4;
    border: 1px #cccccc solid;
    border-radius: 7px;
}